.card{
    position: relative;
}
.card img{
    width:100%;
    display:block;
    border: 2px solid #fff;
    border-radius: 6px;
}

.card .frontImage{
    transform:rotateY(90deg) ;
    transition: all ease-in 0.2s;
    position: absolute;
}
.flipped .frontImage{
    transform: rotateY(0deg);
    transition-delay: 0.2s;

}

.card .backgroundImae{
    transition: all ease-in 0.2s;
    transition-delay:0.2s;
}

.flipped .backgroundImage{
    transform: rotateY(90deg);
    transition-delay: 0s;
}

